<div class="role">
    <div class="col-lg-12">
        <div class="col-lg-6">
            <h5>
                <strong>Roles</strong>
                <small>Use roles to group permissions.</small>
            </h5>
        </div>
        <div class="col-lg-6 ">
            <button class="btn btn-primary right" (click)="show()">
              <i class ="fa fa-plus"></i>
              CREATE NEW ROLE
          </button>
        </div>
    </div>
    <!-- List Roles  -->
    <div class="col-lg-12">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Role Name</th>
                    <th>Status</th>
                    <th>Creation Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let role of roles">
                    <td>
                        <button class="btn btn-outline-primary" type="button" (click)="update(role)"><i class ="fa fa-edit"></i> Edit</button>
                        <button class="btn btn-outline-danger" type="button" (click)="delete(role); $event.stopPropagation()"><i class ="fa fa-trash"></i> Delete</button>
                    </td>
                    <td>{{role.name}}</td>
                    <td>
                        <span class="tag tag-success">Active</span>
                    </td>
                    <td>
                        <span>{{role.createdDate}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination text-center">
                <li class="page-item"><a class="page-link" href="./admin/roles">Prev</a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="./admin/roles#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="./admin/roles">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="./admin/roles">3</a>
                </li>
                <li class="page-item"><a class="page-link" href="./admin/roles">4</a>
                </li>
                <li class="page-item"><a class="page-link" href="./admin/roles">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Modal  -->
    <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Create New Role</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="form-control-label" for="roleName">Role Name</label>
                            <div class="controls">
                                <div class="input-group">
                                    <input id="roleName" class="form-control" size="16" type="text" #roleName>
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Check Availability</button>
                                    </span>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" (click)="add(roleName.value); roleName.value = ''">Save Changes</button>
                    <button class="btn btn-warning" type="button" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>