<div class="animated fadein">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-xs-6">
                            <h5>
                                <strong>Settings</strong>
                                <small class="hidden-xs-down">show and change application settings</small>
                            </h5>
                        </div>
                        <div class="col-xs-6 text-xs-right" style="padding-top:5">
                            <button type="submit" class="btn btn-primary" (click)="onSubmit(securityForm.value)" [disabled]="!securityForm.valid">Save changes</button>
                        </div>
                    </div>
                </div>
                <form [formGroup]="securityForm">
                    <div class="card-block">
                        <tabset [justified]="true">
                            <!--General tab-->
                            <tab heading="General">
                                <div>
                                    <div class="form-group">
                                        <label class="form-control-label" for="timezoneSelect">Timezone</label>
                                        <select class="form-control" formControlName="timezone">
                                            <option *ngFor="let zone of timezones" [value]="zone.value">{{zone.display}}</option>
                                        </select>                                        
                                    </div>
                                </div>
                            </tab>
                            <!--User Management tab-->
                            <tab heading="User Management">
                                <div class="form-horizontal">
                                    <h5>Form Based Registration</h5>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox" formControlName="allowUserRegister"> Allow users to register to the system.
                                        </label>
                                        </div>
                                        <span class="help-block">If you disable this, users will only be added by admin using user management page.</span>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox" formControlName="activeNewRegisterByDefault">New registered users are active by default.
                                        </label>
                                        </div>
                                        <span class="help-block">If you disable this, new users will not be active (and can not login) until admin manually activate the account.</span>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox" formControlName="useSecurityImage">Use security image question (captcha) on registration.
                                        </label>
                                        </div>
                                    </div>
                                    <h5>Other Setting</h5>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                            <input type="checkbox" formControlName="requiredConfirmEmailForLogin">Email confirmation required for login.
                                        </label>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <!--Security tab-->
                            <tab heading="Security">
                                <h5>Password Complexity</h5>
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="form-control-label" for="minPasswordLengthInput">Minimum password length</label>
                                        <input type="number" class="form-control" formControlName="minPasswordLength">
                                        <div *ngIf="formErrors.minPasswordLength" class="alert alert-danger">
                                            {{ formErrors.minPasswordLength }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label" for="maxPasswordLengthInput">Maximum password length</label>
                                        <input type="number" class="form-control" formControlName="maxPasswordLength">
                                        <div *ngIf="formErrors.maxPasswordLength" class="alert alert-danger">
                                            {{ formErrors.maxPasswordLength }}
                                        </div>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" formControlName="useNumerInPassword"> Use number in password
                                    </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" formControlName="useUpperCaseInPassword"> Use upper case letters in password
                                    </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                        <input type="checkbox" formControlName="useLowerCaseInPassword"> Use lower case letters in password
                                    </label>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>